.keyboard-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  padding: 0.25em;
  align-items: center;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: calc(100% - 0.5em);
  max-width: 500px;
}

.keyboard-key {
  font-weight: bold;
  font-size: small;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-width: 1.5em;
  max-width: 3em;
  flex: 1;
  height: 55px;
  border-radius: 0.25em;
  cursor: pointer;
  margin: 0.25em;
  padding: 0.5em;
  background-color: #d3d6da;
  text-transform: uppercase;
  border: none;
}

.keyboard-spacer {
  flex: 0.5;
}

.keyboard-key--utility {
  font-weight: bold;
  font-size: x-small;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 55px;
  border-radius: 0.25em;
  cursor: pointer;
  margin: 0.25em;
  padding: 0.5em;
  background-color: #d3d6da;
  max-width: 5em;
  border: none;
  flex: 1;
  text-transform: uppercase;
}

.keyboard-key:hover {
  opacity: 0.8;
}

.keyboard-key--correct {
  background-color: #6aaa64;
  color: white;
}

.keyboard-key--in-word {
  background-color: #c9b458;
  color: white;
}

.keyboard-key--guessed {
  background-color: #787c7e;
  color: white;
}
