.Modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Modal-container {
  max-width: 500px;
  width: 100%;
  min-height: 100px;
  background-color: white;
  padding: 20px;
}

.Modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  max-width: 500px;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  position: sticky;
  top: 20px;
  z-index: 2;
  background-color: white;
}

.Modal-header > h2 {
  padding: 0;
  margin: 0;
}

.Modal-button--close {
  border-radius: 0;
  background-color: white;
  font-weight: bold;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  height: 40px;
  min-width: 40px;
  border-radius: 5px;
}