.Tile {
  text-transform: capitalize;
  font-size: x-large;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 55px;
  max-height: 55px;
  width: calc((100vw / 5) - .5em);
  height: calc((100vw / 5) - .5em);
  border: 2px solid black;
  margin: .1em;
  background-color: white;
  color: black;
}

.Tile--guessed {
  background-color: #3a3a3c;
  color: white;
}

.Tile--in-word {
  background-color: #b59f3b;
  color: white;
}

.Tile--correct {
  background-color: #538d4e;
  color: white;
}